* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

ul li:hover ul li {
    display: block;
}

section {
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
}

#main_nav {

    display: none;
}

img {
    width: 100%;
}

/*-----------------------Burger Menu-------------------------*/
#logo {
    width: 40px;
}


#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background: #6186A5;
    color: #fff;
    z-index: 1;
    padding: 0.6em;
    flex-wrap: wrap;
}

#navbar h1 {
    padding-left: 1em;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li a {
    color: #fff;
    letter-spacing: 0.2em;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
}


.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


.nav_links {
    position: absolute;
    right: 0px;
    height: 70vh;
    top: 8vh;
    background-color: #6186A5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: translateY(-180%);
}

.nav_links li {
    padding-top: 0;
    margin: 2em;
    font-size: 1.2em;
}

.burger {
    display: block;
}


.nav-active {
    transform: translateY(0%);
}

/*----------------Defaults-------------------*/

.btn {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2.5em;
    text-decoration: none;
}

.btn_container {
    display: flex;
    justify-content: center;
    border: none;
}

.btn_container #se_priser {
    margin: 4em;
    background-color: #fff;
    padding: 0.6em;
    border: none;
}

.btn_container #se_priser a {
    text-decoration: none;
    color: #3f7637;
    font-size: 2em;
    border-bottom: 2px solid #3f7637;
    padding: 0.1em;
}

#input_btn {
    background-color: #7D8315;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    left: 310px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 2em;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 5px;
}

#destination_x {
    position: relative;
    left: 290px;
    border: 1px solid #403C38;
    color: #403C38;
    font-size: 1.2em;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 4em;
    padding: 0.1em;
    opacity: .6;
}


#showcase .iframe_container {
    position: relative;
    width: 100%;
    padding-top: 1em;
    height: 0;
    padding-bottom: 56.25%;
}

.iframe_container iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    color: #d8ab7b;
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
}

#destinationer h1 {
    margin-top: 1em;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    color: #d8ab7b;
    margin: 1em;
    line-height: 1.3em;
    margin-left: 15px;
}

h3,
h4 {
    font-family: 'Poiret One', cursive;
    font-size: 1.7em;
    color: #d8ab7b;
    margin-left: 15px;
    margin-bottom: 0.5em;
}

p,
ol,
ul {
    font-family: 'Open Sans', sans-serif;
    color: #403C38;
    margin: 0.5em;
    line-height: 1.5em;
    font-size: 15px;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

iframe {
    width: 100%;
}

footer {
    background-color: #6186A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #000;

}

footer i {
    color: #fff;
    margin: 0.3em;

}

/*---------- Destinationer--------*/


/*---------------overview på individuelle sider---------*/

#overview ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0.5em;
    padding: 0.5em;
}

#overview ul li {
    display: flex;
    font-family: 'Manrope', sans-serif;
    margin: 0.5em;
}

#overview ul li a {
    text-decoration: none;
    color: #3f7637;
    padding: 0em;
    margin: 0;
    border-bottom: 1px solid #3f7637;

}

/*---------------Destinatiner------*/

.istand_title {
    text-align: center;
    margin-bottom: 1.5em;
}

#dest_istand .data-container {
    display: none;
}

#dest_istand div {
    font-family: 'Open Sans', sans-serif;
    margin: 0.7em;
    line-height: 1.5em;
    font-size: 15px;
}

#dest_istand p {
    margin: 0.5em;
}

#dest_istand .wp-block-group__inner-container {
    margin: 0;
}

#dest_istand .wp-block-group__inner-container .wp-block-columns {
    margin: 0;
}

/*------------------BILLEDKARUSELLER / GALLERIES -------------*/

.carousel {
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
}

.the_container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    align-items: center;
}

.the_container::-webkit-scrollbar {
    display: none;
}

.the_container section {
    min-width: 100%;
    scroll-snap-align: start;
}

.carousel_inner {
    display: flex;
}

.preview_pics_container {
    text-align: center;
}

.preview_pics_container section {
    display: inline-block;
    height: 3.5vh;
}

.preview_pics_container img {
    height: 100%;
    width: auto;
    cursor: pointer;
    border-radius: 5px;
}

.preview_selected {
    border: 1px solid #798C35;
    border-radius: 5px;
    opacity: 0.7;
    filter: brightness(80%);
}

.bwd,
.fwd {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.bwd p,
.fwd p {
    margin: 0.1em;
    font-size: 2em;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    display: none;
}

.fwd p {
    margin-left: -35px;
}

/***** KONTAKT ******/

#kontakt_info p {
    font-size: 15px;
}

.contact_form {
    background-color: #3E3F40;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 17px;
    margin: 45px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}

input[type=send] {
    background-color: #F25A38;
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

#kommentar {
    font-family: 'Open Sans', sans-serif;
}

.googlemaps {
    margin: 2em 0;
}


/****** KONTAKT SLUT ********/


/*------------------MEDIA QUERIES-------------*/

@media screen and (min-width:750px) {
    h1 {
        font-family: 'Poiret One', cursive;
        font-size: 2.4em;
        color: #d8ab7b;
        margin-top: 2em;
        margin-bottom: 1.5em;
        padding: 0;
        text-align: center;
    }

    #destinationer h1 {
        margin-top: 1em;
    }

    h2 {
        margin: 1em;
        line-height: 1.5em;
        margin-left: 15px;
    }

    h3,
    h4 {
        margin-left: 15px;
        margin-bottom: 0.5em;
    }

    p,
    ol,
    ul {
        line-height: 1.5em;
        font-size: 15px;
    }

    #navbar {
        display: none;
    }

    #logo {
        margin: 1.5em;
        margin-left: 1.5em;
    }

    #overview {
        display: none;
    }

    ul li:hover ul li {
        display: block;
    }

    #main_nav {
        display: block;
        z-index: 2;
    }

    #main_nav a {
        color: #fff;
        font-size: 1.2em;
        background-color: #6186A5;
        display: block;
        height: 65px;
        font-family: 'Raleway', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        z-index: 2;

    }

    #main_nav a:hover {
        background-color: #83c5f5;
        transition: 0.4s;
        z-index: 2;
    }

    #main_nav #logo: {
        background-color: #F2BE5C;
    }

    #main_nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        z-index: 2;
    }


    #main_nav li {
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    #myBtn {
        left: 90vw;
        font-size: 3.5em;
    }

    #myBtn:hover {
        background-color: white;
        opacity: 0.6;

    }

    .btn_container #se_priser a:hover {
        color: #48b739;
        border-bottom: 2px solid #48b739;
        transition: .8s;
    }


    .submenu li {
        display: none;
        position: absolute;
        top: 0px;

    }

    .submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
    }

    .submenu li {
        position: relative;
    }


    h1 {
        margin-top: 1.5em;
        font-size: 4em;
    }



    h2 {
        font-size: 2em;
        text-align: center;
    }

    h3 {
        font-size: 1.5em;
    }

    /*--------------- Video ------------*/
    #showcase .iframe_container {
        padding-top: 4em;
        margin: 0 auto;
        max-width: 1400px;
        padding-bottom: 40%;
    }

    .iframe_container iframe {
        height: 600px;
    }

    .p_forside {
        font-size: 1.5em;
        max-width: 1300px;
        margin: 0 auto;
    }


    #dest_istand .data-container {
        display: grid;
    }


    /*----------------Destinationer----------*/
    .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .wp-block-columns h2 {
        margin: 0;
        padding: 0;
        margin-top: 1em;
        font-size: 3em;
        align-self: flex-start;
    }

    .wp-block-columns p {
        line-height: 2em;
    }

    .istand_content img {
        width: 500px;
        margin-top: 4em;
    }

    .has-text-align-center {
        text-align: center;
    }

    .has-text-align-right {
        text-align: left;
        margin-right: 3em;
        margin-top: 2em;
    }

    #destination_x {
        position: relative;
        left: 35px;
        cursor: pointer;
    }



















    /***** ORIENTERINGSMØDE ******/
































    /***** ORIENTERINGSMØDE SLUT******/




    /***** FAMILIER OG FORENINGER *****/





    /***** FAMILIER OG FORENINGER SLUT *****/




    /****** TIDLIGERE FORENINGER ******/



    /****** TIDLIGERE FORENINGER SLUT ******/





    /****** TIDLIGERE BENYTTELSE ********/







    /****** TIDLIGERE BENYTTELSE SLUT ******/

    /****** GALLERIES  ******/

    .carousel_section {
        width: 60vw;
    }

    .the_container {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        align-items: center;
    }


}


/*----------Animationer-----------------*/


.drop {
    animation-name: drop_kf;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop_kf {
    from {
        transform: translateY(-150vw);
    }

    to {
        transform: translateY(-3vw);
    }
}
