* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

ul li:hover ul li {
    display: block;
}

section {
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
}

#main_nav {

    display: none;
}

img {
    width: 100%;
}

/*-----------------------Burger Menu-------------------------*/
#logo {
    width: 40px;
}


#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background: #6186A5;
    color: #fff;
    z-index: 1;
    padding: 0.6em;
    flex-wrap: wrap;
}

#navbar h1 {
    padding-left: 1em;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li a {
    color: #fff;
    letter-spacing: 0.1em;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
}


.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


.nav_links {
    position: absolute;
    right: 0px;
    height: 70vh;
    top: 8vh;
    background-color: #6186A5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: translateY(-180%);
}

.nav_links li {
    padding-top: 0;
    margin: 1.5em;
    font-size: 1.2em;
}

.burger {
    display: block;
}


.nav-active {
    transform: translateY(0%);
}

#mobile_img {
    width: 100vw;
    margin-top: 53.4px;
    opacity: 0.85;
    filter: brightness(80%);
}

/*----------------Defaults-------------------*/

.btn {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2.5em;
    text-decoration: none;
}

.btn_container {
    display: flex;
    justify-content: center;
    border: none;
}

.btn_container #se_priser {
    margin: 4em;
    background-color: #fff;
    padding: 0.6em;
    border: none;
}

.btn_container #se_priser a {
    text-decoration: none;
    color: #3f7637;
    font-size: 2em;
    border-bottom: 2px solid #3f7637;
    padding: 0.1em;
}


#myBtn {
    position: fixed;
    bottom: 20px;
    left: 85vw;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 2em;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 5px;
    color: #6186A5;
}

#destination_x {
    position: relative;
    left: 290px;
    border: 1px solid #403C38;
    color: #403C38;
    font-size: 1.2em;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 4em;
    padding: 0.1em;
    opacity: .6;
}


#showcase .iframe_container {
    position: relative;
    width: 100%;
    padding-top: 1em;
    height: 0;
    padding-bottom: 56.25%;
}

#showcase .iframe_container iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}



h1 {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    color: #d8ab7b;
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
}

.h1_forside {
    color: #fff;
    margin-top: 0;
}

#destinationer h1 {
    margin-top: 1em;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    color: #d8ab7b;
    margin: 1em;
    line-height: 1.3em;
    margin-left: 15px;
}

h3,
h4 {
    font-family: 'Poiret One', cursive;
    font-size: 1.7em;
    color: #d8ab7b;
    margin: 0.6em;
}

p,
ol,
ul {
    font-family: 'Open Sans', sans-serif;
    color: #403C38;
    margin: 0.6em;
    line-height: 2em;
    font-size: 1em;
}

.wp-block-separator {
    margin: 1em;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

#my_video {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    margin-top: 21%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.arrow-down {
    display: none;
}

.rating {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rating img {
    width: 160px;
}

figure {
    margin: 0;
}

iframe {
    width: 100%;
}

footer {
    background-color: #6186A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #000;

}

footer i {
    color: #fff;
    margin: 0.3em;
}

/*--------------------Omkostninger img----------*/

.wp-image-109 {
    width: 100%;
    margin-top: 4em;
}

/*-------------Pris på Large--------------------*/
.wp-image-122 {
    width: 100%;
    margin-top: 0;
}

/*------------------gensalg---------------*/

.wp-image-130 {
    display: none;
}


/*------------------Investering---------------*/
.wp-image-150 {
    width: 100%;
    margin-top: 2em;
}

.wp-image-152 {
    display: none;
}

/*--------------------OM OS-------------------*/
.wp-block-group__inner-container li {
    margin-left: 1em;
}

#omos img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#omos .wp-block-media-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

#omos .wp-block-media-text div,
#omos div figure {
    flex-basis: 355px;
    flex-grow: 1;
}

#omos .wp-block-group:nth-child(4) .wp-block-group__inner-container {
    display: flex;
    flex-wrap: wrap;
}

#omos .wp-block-group:nth-child(4) .wp-block-group__inner-container .wp-block-group {

    flex-basis: 350px;
    flex-grow: 1;
    padding: 0;
}


/*---------------overview på individuelle sider---------*/

#overview ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0.5em;
    padding: 0.5em;
}

#overview ul li {
    display: flex;
    font-family: 'Manrope', sans-serif;
    margin: 0.5em;
}

#overview ul li a {
    text-decoration: none;
    color: #d8ab7b;
    padding: 0em;
    margin: 0;
    border-bottom: 1px solid #d8ab7b;
    font-size: 1.2em;
}

/*---------------Destinationer------*/

.istand_title {
    text-align: center;
    margin-bottom: 1.5em;
}

#dest_istand .data-container {
    display: none;
}

#dest_istand div {
    font-family: 'Open Sans', sans-serif;
    margin: 0.7em;
    line-height: 1.5em;
    font-size: 15px;
}

#dest_istand p {
    margin: 0.5em;
}

#dest_istand .wp-block-group__inner-container {
    margin: 0;
}

#dest_istand .wp-block-group__inner-container .wp-block-columns {
    margin: 0;
}

.carousel_section_txt {
    text-align: center;
}

.ss_btns {
    text-align: center;
    margin: 1em 1em 2em 1em;
}

.ss_btns button {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #3f7637;
    margin: 0.5em 1.5em;
    border: none;
    border-bottom: 2px solid #3f7637;
    padding: 0.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center;
}

.ss_btns button:hover {
    color: #48b739;
    border-bottom: 2px solid #48b739;
    transition: .8s;
}

/***** KONTAKT ******/

#kontakt_info p {
    font-size: 15px;
}

.contact_form {
    background-color: #2d3e4b;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 17px;
    margin: 0 45px 45px 45px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=send] {
    background-color: #3f7637;
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#kommentar {
    font-family: 'Open Sans', sans-serif;
}

.googlemaps {
    margin: 2em 0;
}

/*------------------------- HVORFOR -----------------------------*/

#hvorfor h2 {
    margin-bottom: 0;
    margin-left: 15px;
}

#hvorfor h4 {
    text-align: center;
    margin-bottom: 0;
}

#hvorfor .wp-block-group {
    margin-top: 1.5em;
}

#hvorfor .wp-block-group:first-child .wp-block-group__inner-container {
    display: flex;
    flex-wrap: wrap;
}

#hvorfor .wp-block-group__inner-container p,
#hvorfor div figure {
    flex-basis: 350px;
    flex-grow: 1;
}

#hvorfor .wp-block-group:nth-child(5) .wp-block-group__inner-container {
    display: flex;
    flex-wrap: wrap;
}

#hvorfor .wp-block-group:nth-child(5) .wp-block-group__inner-container .wp-block-group {
    flex-basis: 350px;
    flex-grow: 1;
    padding: 0;
}

/*------------------------- FAQ -----------------------------*/
.kat {
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    color: #d8ab7b;
    transition: 0.4s;
}

summary::-webkit-details-marker {
    margin-right: 0.5em;
    transition: 1s;
}

summary {
    padding: 0.5em;
    border-top: 1px solid #3f7637;
    font-weight: 700;
}

.kat:last-child summary {
    border-bottom: 1px solid #3f7637;
}

#kategorier {
    margin: 1em 0;
}

.questions {
    border-top: 1px solid #3f7637;
    cursor: pointer;
    transition: 0.4s;
}

.questions h3 {
    font-size: 0.7em;
    font-family: 'Open Sans', sans-serif;
    margin: 0.3em;
}

.questions h3:hover {
    // color: rgba(25, 25, 26, 0.65);
    // transition: 0.4s;
}

.panel {
    display: none;
    overflow: hidden;
    transition: 0.4s;
    padding: 0 1em;
    cursor: auto;
    font-size: 0.6em;
}

.active {
    display: block;
    transition: 0.4s;
}

details[open] div {
    animation-name: slideDown;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

details[open] div article {
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}


/*------------------BILLEDKARUSELLER / GALLERIES -------------*/

.carousel {
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
}

.the_container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    align-items: center;
}

.the_container::-webkit-scrollbar {
    display: none;
}

.the_container section {
    min-width: 100%;
    scroll-snap-align: start;
}

.carousel_inner {
    display: flex;
}

.preview_pics_container {
    text-align: center;
}

.preview_pics_container section {
    display: inline-block;
    height: 3.5vh;
}

.preview_pics_container img {
    height: 100%;
    width: auto;
    cursor: pointer;
    border-radius: 5px;
}

.preview_selected {
    border: 1px solid #798C35;
    border-radius: 5px;
    opacity: 0.7;
    filter: brightness(80%);
}

.bwd,
.fwd {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.bwd p,
.fwd p {
    margin: 0.1em;
    font-size: 1em;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    display: none;
}


.fwd p {
    margin-left: -18px;
}







/*----------------------------------MEDIA QUERIES-------------------------------------*/

@media screen and (min-width:760px) {
    .nav_links {
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 6.4vh;
        background-color: #6186A5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        transform: translateY(-180%);
    }

    .nav_links li {
        padding-top: 0;
        margin: 1.8em;
        font-size: 1.5em;
    }

    #myBtn {
        left: 90vw;
        font-size: 3.5em;
    }

    .h1_forside {
        font-size: 3em;
    }

    /******* FAQ *******/
    #faq {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 2em 120px 2em;
    }

    .questions {
        padding: 0.5em;
    }

    .spgsml:hover {
        color: #f0c392;
        transition: .8s;
    }

    summary {
        font-size: 1.2em;
    }

    summary:hover {
        color: #f0c392;
        transition: .8s;
    }

    #kategorier {
        margin: 3em 0;
    }

    .panel {
        padding: 0 1em 0.5em 1em;
    }
}

@media screen and (min-width:1080px) {
    h1 {
        font-family: 'Poiret One', cursive;
        color: #d8ab7b;
        margin-bottom: 0.3em;
        padding: 0;
        text-align: center;
        margin-top: 1em;
        font-size: 4em;
    }

    .h1_forside {
        font-size: 5em;
    }

    #destinationer h1 {
        margin-top: 1em;
    }

    h2 {
        margin: 1em;
        line-height: 1.5em;
        margin-left: 15px;
        font-size: 2em;
        text-align: center;
    }

    h3 {
        margin-left: 15px;
        margin-bottom: 0.5em;
        font-size: 1.5em;
    }

    h4 {
        margin-left: 15px;
        margin-bottom: 0.5em;
    }

    p,
    ol,
    ul {
        line-height: 2em;
        font-size: 1em;
        margin: 0.5em
    }

    #navbar {
        display: none;
    }

    #logo {
        margin: 1.5em;
        margin-left: 1.5em;
    }

    #overview {
        display: none;
    }

    ul li:hover ul li {
        display: block;
    }

    #main_nav {
        display: block;
        z-index: 2;
    }

    #main_nav a {
        color: #fff;
        font-size: 1.2em;
        background-color: #6186A5;
        display: block;
        height: 65px;
        font-family: 'Raleway', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        z-index: 2;

    }

    #main_nav a:hover {
        background-color: #83c5f5;
        transition: 0.4s;
        z-index: 2;
    }

    #main_nav #logo: {
        background-color: #F2BE5C;
    }

    #main_nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        z-index: 2;
    }


    #main_nav li {
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    #myBtn:hover {
        background-color: white;
        opacity: 0.6;
    }

    .btn_container #se_priser a:hover {
        color: #48b739;
        border-bottom: 2px solid #48b739;
        transition: .8s;
    }


    .submenu li {
        display: none;
        position: absolute;
        top: 0px;

    }

    .submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
    }

    .submenu li {
        position: relative;
    }

    footer {
        padding: 0 12em;
    }

    /*--------------- Video ------------*/
    #showcase .iframe_container {
        padding-top: 4em;
        margin: 0 auto;
        max-width: 1400px;
        padding-bottom: 40%;
    }

    #showcase .iframe_container iframe {
        height: 600px;
    }

    .p_forside {
        max-width: 1300px;
        margin: 0 auto;
    }


    #dest_istand .data-container {
        display: grid;
    }

    #destinationer {
        padding: 0 8em;
    }

    .iframe_container_2 {
        padding-top: 4em;
        margin: 0 auto;
        max-width: 1200px;
        padding-bottom: 3em;
    }

    .iframe_container_2 iframe {
        height: 700px;
    }

    #orientering .iframe_container iframe {
        padding: 0 6em;
        height: 620px;
    }

    #my_video {
        display: block;
        right: 0;
        bottom: 0;
        width: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        margin: 0;
    }

    #mobile_img {
        display: none;
    }

    .overlay {
        display: block;
        position: absolute;
        margin-top: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .arrow-down {
        color: #fff;
        display: block;
    }

    .rating {
        flex-direction: row;
    }


    /*----------------Destinationer----------*/
    #dest_istand .data-container {
        margin: 0 auto;
        display: grid;
        padding: 2em;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        cursor: pointer;
        grid-gap: 3em;
        ;
        background-color: rgba(97, 134, 165, 0.22);
        border-radius: 5px;
    }

    #dest_istand .data-container h3 {
        color: #757575;
    }

    #dest_istand h1 {
        margin-bottom: 1em;
    }


    #dest_istand .data-container img:hover {
        transform: scale(1.02);
        transition: .8s;
    }

    .wp-block-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .wp-block-columns h2 {
        margin: 0;
        padding: 0;
        margin-top: 1em;
        font-size: 3em;
        align-self: flex-start;
    }

    .wp-block-columns p {
        line-height: 2em;
    }

    .istand_content img {
        width: 500px;
        margin-top: 4em;
    }

    .has-text-align-center {
        text-align: center;
    }

    .has-text-align-right {
        text-align: left;
        margin-right: 3em;
        margin-top: 2em;
    }

    #destination_x {
        position: relative;
        left: 35px;
        cursor: pointer;
    }

    /*-------------Pris på family-------------*/
    .wp-block-separator {
        margin: 3em;
    }

    .wp-image-111 {
        width: 600px;
        margin: 0;
    }

    .carousel_content p {
        text-align: center;
    }

    /*------------Pris på Grande----------------*/

    .wp-image-109 {
        width: 600px;
        margin-top: 4em;
    }

    /*-------------Pris på Large--------------------*/
    .wp-image-122 {
        width: 600px;
        margin-top: 0;
    }


    /*------------------Investering---------------*/
    .wp-image-150 {
        width: 600px;
        margin-top: 5em;
    }

    .wp-block-image {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /*--------------------HVOR-------------------*/

    #hvor {
        padding: 0 10em
    }

    #hvor .wp-block-media-text {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    #hvor .wp-block-media-text div,
    #hvor div figure {
        flex-basis: 350px;
        flex-grow: 1;
        margin: 1em 1em 0 0;
    }

    /*--------------------HVORDAN-------------------*/

    #hvordan .wp-block-group {
        padding: 0 10em;
        margin-top: 1.5em;
    }

    #hvordan h2 {
        margin-top: 0;
        margin-left: 15px;
    }

    #hvordan .wp-block-media-text {
        display: flex;
        flex-wrap: wrap;
        margin: 2em 4em 1.3em 4em;
    }

    #hvordan .wp-block-media-text:nth-child(8),
    #hvordan .wp-block-media-text:nth-child(14) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin-top: 1em;
    }

    #hvordan .wp-block-media-text:nth-child(8) div,
    #hvordan .wp-block-media-text:nth-child(14) div,
    #hvordan .wp-block-media-text:nth-child(8) figure,
    #hvordan .wp-block-media-text:nth-child(14) figure {
        flex-basis: 350px;
        flex-grow: 1;
        margin: 1em;
    }

    #hvordan .wp-block-media-text div,
    #hvordan div figure {
        flex-basis: 350px;
        flex-grow: 1;
        margin: 1em 1em 0 0;
    }

    #hvordan div figure {
        flex-basis: 350px;
        flex-grow: 1;
        margin: 1em 0 1em 2em;
    }

    #hvordan .wp-block-media-text__content p:first-child {
        margin-top: 0;
    }

    /*------------------------- HVORFOR -----------------------------*/

    #hvorfor {
        padding: 1em;
    }

    #hvorfor .wp-block-group:first-child .wp-block-group__inner-container p,
    #hvorfor div figure {
        margin: 1.5em 3em;
    }

    #hvorfor .wp-block-group__inner-container .wp-block-group:first-child .wp-block-group__inner-container p {
        margin: 15px;
    }

    #hvorfor .wp-block-group:nth-child(5) .wp-block-group__inner-container .wp-block-group {
        margin: 1.5em 3em;
    }

    #hvorfor .wp-block-group:nth-child(3),
    #hvorfor .wp-block-group:nth-child(7) {
        padding: 0 10em;
    }

    #hvorfor .wp-block-columns {
        display: flex;
        flex-wrap: wrap;
    }

    #hvorfor .wp-block-columns .wp-block-column {
        flex-basis: 350px;
        flex-grow: 1;
        padding: 0;
        margin: 0.5em 3em;
    }

    /*--------------------OM OS-------------------*/

    #omos {
        padding: 1em;
    }

    #omos div {
        margin-top: 1.5em;
    }

    #omos .wp-block-media-text div,
    #omos div figure {
        margin: 1.5em 3em;
    }

    #omos .wp-block-group:nth-child(4) .wp-block-group__inner-container .wp-block-group {
        margin: 1.5em 3em;
    }

    #omos .wp-block-group:nth-child(3),
    #omos .wp-block-group:nth-child(6) {
        padding: 0 10em;
    }

    /****** GALLERIES  ******/

    .carousel_section {
        width: 60vw;
        text-align: center;
    }

    .the_container {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        align-items: center;
    }

    .bwd p,
    .fwd p {
        font-size: 2em;
    }

    .fwd p {
        margin-left: -35px;
    }

    .kontakt {
        margin-top: 2em;
    }

    .kontakt h3,
    .kontakt p {
        margin-left: 45px;
    }

}






/*----------Animationer-----------------*/


.drop {
    animation-name: drop_kf;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop_kf {
    from {
        transform: translateY(-150vw);
    }

    to {
        transform: translateY(-3vw);
    }
}

.up_down {
    animation-name: up_down_kf;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes up_down_kf {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(0.5vw);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        padding: 0;
        margin: 0;
    }

    to {
        opacity: 1;
        padding: 0 0.5em;
        margin: 0.5em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
