* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

ul li:hover ul li {
    display: block;
}

section {
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
}

#main_nav {

    display: none;
}

img {
    width: 100%;
}

/*-----------------------Burger Menu-------------------------*/
#logo {
    width: 40px;
}


#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background: #F2BE5C;
    color: #fff;
    z-index: 1;
    padding: 0.6em;
    flex-wrap: wrap;
}

#navbar h1 {
    padding-left: 1em;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li a {
    color: #fff;
    letter-spacing: 0.2em;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
}


.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


.nav_links {
    position: absolute;
    right: 0px;
    height: 70vh;
    top: 10vh;
    background-color: #F2BE5C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: translateY(-180%);
}

.nav_links li {
    padding-top: 0;
    margin: 2em;
    font-size: 1.2em;
}

.burger {
    display: block;
}


.nav-active {
    transform: translateY(0%);
}

/*----------------Defaults-------------------*/

.btn {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2.5em;
    text-decoration: none;
}

.btn_container {
    display: flex;
    justify-content: center;
    border: none;
}

.btn_container #se_priser {
    margin: 4em;
    background-color: #fff;
    padding: 0.6em;
    border: none;
}

.btn_container #se_priser a {
    text-decoration: none;
    color: #798C35;
    font-size: 2em;
    border: 2px solid #798C35;
    padding: 0.3em;
}

#input_btn {
    background-color: #798C35;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    left: 310px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 2em;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 5px;
}

#destination_x {
    position: relative;
    left: 290px;
    border: 1px solid #403C38;
    color: #403C38;
    font-size: 1.2em;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 4em;
    padding: 0.1em;
    opacity: .6;
}


#showcase .iframe_container {
    position: relative;
    width: 100%;
    padding-top: 1em;
    height: 0;
    padding-bottom: 56.25%;
}

.iframe_container iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.4em;
    color: #798C35;
    margin-top: 4em;
    padding: 0;
    text-align: center;
}

#destinationer h1 {
    margin-top: 1em;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #798C35;
    margin: 1em;
    line-height: 1.5em;
    margin-left: 15px;
}

h3,
h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1.7em;
    color: #798C35;
    margin-left: 15px;
    margin-bottom: 0.5em;
}

p,
ol,
ul {
    font-family: 'Open Sans', sans-serif;
    color: #403C38;
    margin: 1em;
    line-height: 1.5em;
    font-size: 15px;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

iframe {
    width: 100%;
}

footer {
    background-color: #F2BE5C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #000;

}

footer i {
    color: #fff;
    margin: 0.3em;

}

/*---------------overview på individuelle sider---------*/

#overview ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0.5em;
    padding: 0.5em;
}

#overview ul li {
    display: flex;
    font-family: 'Manrope', sans-serif;
    margin: 0.5em;
}

#overview ul li a {
    text-decoration: none;
    color: #798C35;
    padding: 0.4em;
    margin: 0;
    border: 1px solid #798C35;

}

#dest_istand .data-container {
    display: none;
}

#dest_istand div {
    font-family: 'Open Sans', sans-serif;
    margin: 1em;
    line-height: 1.5em;
    font-size: 15px;
}

/*------------------MEDIA QUERIES-------------*/

@media screen and (min-width:750px) {

    #navbar {
        display: none;
    }

    #logo {
        margin: 1.5em;
        margin-left: 1.5em;
    }

    #overview {
        display: none;
    }

    ul li:hover ul li {
        display: block;
    }

    #main_nav {
        display: block;
        z-index: 2;
    }

    #main_nav a {
        color: #fff;
        font-size: 1.2em;
        background-color: #F2BE5C;
        display: block;
        height: 65px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        z-index: 2;

    }

    #main_nav a:hover {
        background-color: #F2C48D;
        transition: 0.4s;
        z-index: 2;
    }

    #main_nav #logo: {
        background-color: #F2BE5C;
    }

    #main_nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        z-index: 2;
    }


    #main_nav li {
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    #myBtn {
        left: 1550px;
        font-size: 3.5em;
    }

    #myBtn:hover {
        background-color: white;
        opacity: 0.6;

    }

    .btn_container #se_priser a:hover {
        color: #A2B481;
        border: 2px solid #A2B481;
        transition: .8s;
    }


    .submenu li {
        display: none;
        position: absolute;
        top: 0px;

    }

    .submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
    }

    .submenu li {
        position: relative;
    }


    h1 {
        margin-top: 1.5em;
        font-size: 3em;
    }


    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 20px;
    }

    /*--------------- Video ------------*/
    #showcase .iframe_container {
        padding-top: 4em;
        margin: 0 auto;
        max-width: 1400px;
        padding-bottom: 40%;
    }

    .iframe_container iframe {
        height: 600px;
    }

    .p_forside {
        font-size: 1.5em;
        max-width: 1300px;
        margin: 0 auto;
    }


    #dest_istand .data-container {
        display: grid;
    }


}




/***** KONTAKT ******/

#kontakt_info p {
    font-size: 15px;
}

.contact_form {
    background-color: #3E3F40;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 17px;
    margin: 45px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}

input[type=send] {
    background-color: #F25A38;
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

#kommentar {
    font-family: 'Open Sans', sans-serif;
}

.googlemaps {
    margin: 2em 0;
}


/****** KONTAKT SLUT ********/












/***** ORIENTERINGSMØDE ******/
































/***** ORIENTERINGSMØDE SLUT******/




/***** FAMILIER OG FORENINGER *****/





/***** FAMILIER OG FORENINGER SLUT *****/




/****** TIDLIGERE FORENINGER ******/



/****** TIDLIGERE FORENINGER SLUT ******/





/****** TIDLIGERE BENYTTELSE ********/







/****** TIDLIGERE BENYTTELSE SLUT ******/









/*----------Animationer-----------------*/


.drop {
    animation-name: drop_kf;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop_kf {
    from {
        transform: translateY(-150vw);
    }

    to {
        transform: translateY(-3vw);
    }
}
